---
name: credits
layout: page
---

# Créditos

Esta colección fue creada por Mateo Rojas Borrero.

Basada en la plantilla [Serie Mini](https://github.com/srsergiorodriguez/serie-mini), para la creación de colecciones digitales, creada por [Sergio Rodríguez Gómez](https://srsergiorodriguez.github.io/).

Las fuentes de las imágenes y sus autores pueden ser consultadas en los metadatos de la colección.